.book{
	
	border:2px solid red;
	background:#F1F1F1;
	
}
.item{
	 display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	
/*   height: vh; */
	gap:150px;
	padding:50px;
}
.btn{
	border:2px solid red;
    width:100%;
	margin:20px;
	text-align:center;
	background:#2ECC71;
}